.shield {
  width: 250px;
  height: 350px;
  position: relative;
  z-index:1;
}

.shieldCurve {
    position: relative;
    bottom: 0;
    left: 200px;
    right: 0;
    top: 200px;
    height: 75%;
    background-color: #fff;
    border-radius: 0 0 50% 50%;
    z-index: 0;
    border: 3px solid #000;
}
.shieldDecorationTop {
        position: absolute;
    left: 184%;
    top: 41%;
    transform: rotate(-90deg);
    display: block;
    margin: 100px -200px;
    width: 127px;
    height: 41px;
    font: normal 30px/60px 'Rye';
    text-align: center;
    z-index: 1;
    color: #aaa;
    background: #5a5858;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 8px 10px rgba(0,0,0,.15);
}
.shieldDecorationLeft {
    position: absolute;
    left: 160%;
    top: 68%;
    transform: rotate(-33deg);
    display: block;
    margin: 100px -200px;
    width: 141px;
    height: 41px;
    font: normal 30px/60px 'Rye';
    text-align: center;
    color: #aaa;
    background: #5a5858;
    z-index: 0;
    border-radius: 14px 4px 4px 3px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 6px 10px rgba(0,0,0,.15);
}
.shieldDecorationRight {
    position: absolute;
    left: 203%;
    top: 68%;
    transform: rotate(-147deg);
    display: block;
    margin: 100px -200px;
    width: 141px;
    height: 41px;
    font: normal 30px/60px 'Rye';
    text-align: center;
    color: #aaa;
    background: #5a5858;
    z-index: 0;
    border-radius: 4px 4px 4px 14px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 6px 10px rgba(0,0,0,.15);
}

*{
  margin:0;
  padding:0;
  position: absolute;
}

.book {
    width: 64px;
    height: 80px;
    top: 64%;
    left: 88%;
    background: #636365;
    border-radius: 16px 3px 3px 15px;
    margin: 0;
    padding: 0;
	    z-index: 5;
}
.bookTop {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 7px;
    width: 54px;
    bottom: 68px;
    right: 3px;
    background: white;
    border-radius: 13px 4px 4px 32px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.bookSide {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 5px;
    width: 75px;
    bottom: 35px;
    right: -32px;
    background: white;
    border-radius: 0px 0px 0px 0px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    z-index: 2;
    transform: rotate(-270deg);
}
.bookSpine {
        box-sizing: inherit;
    content: "";
    position: absolute;
    height: 12px;
    width: 76px;
    bottom: 33px;
    right: 19px;
    background: #434345;
    border-radius: 84px 85px 51px 34px;
    margin: 0;
    padding: 0;
    z-index: 0;
    transform: rotate(270deg);
}
.bookSpineBinder {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 6px;
    width: 12px;
    bottom: 48px;
    right: 52px;
    background: white;
    border-radius: 29px 14px 30px 31px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    z-index: 2;
    transform: rotate(-180deg);
}

.bookSpineBinder1 {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 6px;
    width: 12px;
    bottom: 23px;
    right: 52px;
    background: white;
    border-radius: 29px 14px 30px 31px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    z-index: 2;
    transform: rotate(-180deg);
}

.book1 {
    width: 64px;
    height: 80px;
    top: 64%;
    left: 146%;
    background: #636365;
    border-radius: 16px 3px 3px 15px;
    margin: 0;
    padding: 0;
	    z-index: 5;
}
.bookTop1 {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 7px;
    width: 54px;
    bottom: 68px;
    right: 3px;
    background: white;
    border-radius: 13px 4px 4px 32px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.bookSide1 {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 5px;
    width: 75px;
    bottom: 35px;
    right: -32px;
    background: white;
    border-radius: 0px 0px 0px 0px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    z-index: 2;
    transform: rotate(-270deg);
}
.bookSpine1 {
        box-sizing: inherit;
    content: "";
    position: absolute;
    height: 12px;
    width: 76px;
    bottom: 33px;
    right: 19px;
    background: #434345;
    border-radius: 84px 85px 51px 34px;
    margin: 0;
    padding: 0;
    z-index: 0;
    transform: rotate(270deg);
}
.bookSpineBinder2 {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 6px;
    width: 12px;
    bottom: 48px;
    right: 52px;
    background: white;
    border-radius: 29px 14px 30px 31px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    z-index: 2;
    transform: rotate(-180deg);
}

.bookSpineBinder3 {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 6px;
    width: 12px;
    bottom: 23px;
    right: 52px;
    background: white;
    border-radius: 29px 14px 30px 31px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    z-index: 2;
    transform: rotate(-180deg);
}


.triangle {
    width: 0;
    height: 0px;
    left: 295px;
    top: 381px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 55px solid #636365;
    transform: rotate(180deg);
	    z-index: 5;
}
.wave1, .wave2, .wave3, .wave4,.wave5, .wave6, .wave7, .wave8 {
    content: '';
    background-color: #636365;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
	    z-index: 5;
}
.wave1 {
    top: 400px;
    left: 318px;
}
.wave2 {
    left: 309px;
    top: 399px;
}
.wave3 {
    top: 370px;
    left: 334px;
}
.wave4 {
    left: 296px;
    top: 370px;
}
.wave5 {
    top: 368px;
    left: 318px;
}
.wave6 {
       left: 309px;
    top: 368px;
}
.wave7 {
    top: 369px;
    left: 326px;
}
.wave8 {
    left: 301px;
    top: 369px;
}
.wave9 {
    left: 306px;
    top: 428px;
}
.wave10 {
    top: 430px;
    left: 313px;
}
.wave11 {
    left: 319px;
    top: 430px;
}
.wave12 {
    top: 429px;
    left: 326px;
}
.wave13 {
    left: 331px;
    top: 427px;
}
.wave9, .wave10, .wave11, .wave12, .wave13 {
    content: '';
    background-color: #636365;
    border-radius: 50%;
    height: 13px;
    position: absolute;
    width: 13px;
	    z-index: 5;
}
.triangle1 {
    width: 0;
    height: 0px;
    left: 305px;
    top: 381px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 55px solid #636365;
	    z-index: 5;
}
.blackLine1 {
    position: absolute;
    height: 20px;
    left: 280px;
    width: 46px;
    top: 386px;
    margin-bottom: 15px;
    border-top: 1px solid black;
    clear: both;
    transform: rotate(71deg);
	    z-index: 5;
}
.blackLine2 {
    position: absolute;
    height: 20px;
    left: 287px;
    width: 46px;
    top: 384px;
    margin-bottom: 15px;
    border-top: 1px solid black;
    clear: both;
    transform: rotate(80deg);
	    z-index: 5;
}
.blackLine3 {
    position: absolute;
    height: 20px;
    left: 293px;
    width: 46px;
    top: 382px;
    margin-bottom: 15px;
    border-top: 1px solid black;
    clear: both;
    transform: rotate(86deg);
	    z-index: 5;
}
.blackLine4 {
    position: absolute;
    height: 20px;
    left: 298px;
    width: 46px;
    top: 382px;
    margin-bottom: 15px;
    border-top: 1px solid black;
    clear: both;
    transform: rotate(92deg);
	    z-index: 5;
}
.blackLine5 {
    position: absolute;
    height: 20px;
    left: 305px;
    width: 46px;
    top: 381px;
    margin-bottom: 15px;
    border-top: 1px solid black;
    clear: both;
    transform: rotate(102deg);
	    z-index: 5;
}
.blackLine6 {
    position: absolute;
    height: 20px;
    left: 292px;
    width: 33px;
    top: 411px;
    margin-bottom: 15px;
    border-top: 1px solid black;
    clear: both;
    transform: rotate(104deg);
	    z-index: 5;
}
.blackLine7 {
    position: absolute;
    height: 20px;
    left: 297px;
    width: 35px;
    top: 413px;
    margin-bottom: 15px;
    border-top: 1px solid black;
    clear: both;
    transform: rotate(95deg);
	    z-index: 5;
}
.blackLine8 {
    position: absolute;
    height: 20px;
    left: 305px;
    width: 30px;
    top: 416px;
    margin-bottom: 15px;
    border-top: 1px solid black;
    clear: both;
    transform: rotate(85deg);
	    z-index: 5;
}
.blackLine9 {
    position: absolute;
    height: 20px;
    left: 312px;
    width: 28px;
    top: 417px;
    margin-bottom: 15px;
    border-top: 1px solid black;
    clear: both;
    transform: rotate(78deg);
	    z-index: 5;
}
.clamRibbon {
    position: absolute;
    height: 14px;
    left: 310px;
    background-color: #fff;
    width: 27px;
    top: 407px;
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 15px;
    border: 1px solid #7c7c7c;
    clear: both;
    transform: rotate(180deg);
	    z-index: 5;
}
.clamRibbon2 {
    position: absolute;
    height: 12px;
    left: 318px;
    background-color: #fff;
    width: 17px;
    top: 408px;
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 15px;
    border: 1px solid #7c7c7c;
    clear: both;
    transform: rotate(270deg);
    box-shadow: -1px -2px 5px 0px rgba(0,0,0,.8);
	    z-index: 5;
}


.ribbon {
    position: absolute;
    left: 170%;
    top: 99%;
    display: block;
    margin: 100px -200px;
    width: 200px;
    height: 36px;
    border: 2px solid #aaa;
    font: normal 23px/43px 'Rye';
    text-align: center;
    color: #aaa;
	z-index:5;
    background: #fff;
    border-radius: 10px 10px 40px 40px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 6px 10px rgba(0,0,0,.15);
}
.ribbonStart {
    position: absolute;
    left: 117%;
    top: 89%;
    display: block;
    margin: 100px -200px;
    width: 163px;
    height: 36px;
    border: 2px solid #aaa;
    font: normal 20px/43px 'Rye';
    text-align: center;
    color: #aaa;
    background: #fff;
    border-radius: 24px 40px 2px 16px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 6px 10px rgba(0,0,0,.15);
    transform: rotate(-22deg);
}
.ribbonEnd {
    position: absolute;
    left: 243%;
    top: 89%;
    display: block;
    margin: 100px -200px;
    width: 163px;
    height: 36px;
    border: 2px solid #aaa;
    font: normal 20px/43px 'Rye';
    text-align: center;
    color: #aaa;
    background: #fff;
    border-radius: 7px 40px 35px 27px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 6px 10px rgba(0,0,0,.15);
    transform: rotate(22deg);
}
.ribbonEndTrim {
    position: absolute;
    left: 294%;
    top: 93%;
    display: block;
    margin: 100px -200px;
    width: 49px;
    height: 34px;
    border: 2px solid #565555;
    font: normal 20px/43px 'Rye';
    text-align: center;
    color: #aaa;
    background: #565555;
    border-radius: 4px 4px 13px 10px;
    box-shadow: -4px -5px 17px -2px rgba(0,0,0,.8);
    transform: rotate(-50deg);
}
.ribbonStartTrim {
    position: absolute;
    left: 113%;
    top: 95%;
    display: block;
    margin: 100px -200px;
    width: 49px;
    height: 34px;
    border: 2px solid #565555;
    font: normal 20px/43px 'Rye';
    text-align: center;
    color: #aaa;
    background: #565555;
    border-radius: 4px 5px 13px 14px;
    box-shadow: 5px -6px 9px -3px rgba(0,0,0,.8);
    transform: rotate(48deg);
}
.ribbonMiddleFirstTrim {
    position: absolute;
    left: 167%;
    top: 87%;
    display: block;
    margin: 100px -200px;
    width: 75px;
    height: 34px;
    border: 2px solid #aaa;
    font: normal 20px/43px 'Rye';
    text-align: center;
    color: #aaa;
    background: #565555;
    border-radius: 4px 5px 13px 14px;
    /* box-shadow: 8px -2px 12px 0px rgba(0,0,0,.8); */
    transform: rotate(113deg);
    z-index: -1;
}
.ribbonMiddleSecondTrim {
    position: absolute;
    left: 226%;
    top: 87%;
    display: block;
    margin: 100px -200px;
    width: 75px;
    height: 34px;
    border: 2px solid #aaa;
    font: normal 20px/43px 'Rye';
    text-align: center;
    color: #aaa;
    background: #565555;
    border-radius: 4px 5px 13px 14px;
    /* box-shadow: 8px -2px 12px 0px rgba(0,0,0,.8); */
    transform: rotate(260deg);
    z-index: -1;
}
.whiteLine1 {
    position: absolute;
    height: 16px;
    left: 237px;
    width: 32px;
    top: 260px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    clear: both;
    transform: rotate(90deg);
    z-index: 5;
}
.whiteLine2 {
    position: absolute;
    height: 17px;
    left: 251px;
    width: 21px;
    top: 231px;
    margin-bottom: 15px;
    border-top: 1px solid #fff;
    clear: both;
    transform: rotate(129deg);
    z-index: 5;
}
.whiteLine3 {
    position: absolute;
    height: 17px;
    left: 223px;
    width: 21px;
    top: 241px;
    margin-bottom: 15px;
    border-top: 1px solid #fff;
    clear: both;
    transform: rotate(51deg);
    z-index: 5;
}
.whiteLine4 {
    position: absolute;
    height: 17px;
    left: 265px;
    width: 21px;
    top: 280px;
    margin-bottom: 15px;
    border-top: 1px solid #fff;
    clear: both;
    transform: rotate(235deg);
    z-index: 5;
}
.whiteLine5 {
    position: absolute;
    height: 17px;
    left: 223px;
    width: 21px;
    top: 278px;
    margin-bottom: 15px;
    border-top: 1px solid #fff;
    clear: both;
    transform: rotate(129deg);
    z-index: 5;
}
.whiteLine6 {
    position: absolute;
    height: 16px;
    left: 382px;
    width: 32px;
    top: 260px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    clear: both;
    transform: rotate(90deg);
    z-index: 8;
}
.whiteLine7 {
    position: absolute;
    height: 17px;
    left: 397px;
    width: 21px;
    top: 230px;
    margin-bottom: 15px;
    border-top: 1px solid #fff;
    clear: both;
    transform: rotate(129deg);
    z-index: 6;
}
.whiteLine8 {
    position: absolute;
    height: 17px;
    left: 367px;
    width: 21px;
    top: 241px;
    margin-bottom: 15px;
    border-top: 1px solid #fff;
    clear: both;
    transform: rotate(51deg);
    z-index: 6;
}
.whiteLine9 {
    position: absolute;
    height: 17px;
    left: 410px;
    width: 21px;
    top: 280px;
    margin-bottom: 15px;
    border-top: 1px solid #fff;
    clear: both;
    transform: rotate(235deg);
    z-index: 6;
}
.whiteLine10 {
    position: absolute;
    height: 17px;
    left: 368px;
    width: 21px;
    top: 278px;
    margin-bottom: 15px;
    border-top: 1px solid #fff;
    clear: both;
    transform: rotate(129deg);
    z-index: 6;
}