.shield {
  width: 250px;
  height: 350px;
  position: relative;
  z-index:1;
}

.shieldCurve {
    position: relative;
    bottom: 0;
    left: 200px;
    right: 0;
    top: 200px;
    height: 75%;
    /* background-color: #ff0000; */
    border-radius: 0 0 50% 50%;
    z-index: 1;
    border: 3px solid #000;
}
.shieldDecorationTop {
        position: absolute;
    left: 184%;
    top: 41%;
    transform: rotate(-90deg);
    display: block;
    margin: 100px -200px;
    width: 127px;
    height: 41px;
    font: normal 30px/60px 'Rye';
    text-align: center;
    z-index: 1;
    color: #aaa;
    background: #5a5858;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 8px 10px rgba(0,0,0,.15);
}
.shieldDecorationLeft {
    position: absolute;
    left: 160%;
    top: 68%;
    transform: rotate(-38deg);
    display: block;
    margin: 100px -200px;
    width: 141px;
    height: 41px;
    font: normal 30px/60px 'Rye';
    text-align: center;
    color: #aaa;
    background: #5a5858;
    z-index: 0;
    border-radius: 4px 4px 4px 3px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 6px 10px rgba(0,0,0,.15);
}
.shieldDecorationRight {
    position: absolute;
    left: 203%;
    top: 68%;
    transform: rotate(-142deg);
    display: block;
    margin: 100px -200px;
    width: 141px;
    height: 41px;
    font: normal 30px/60px 'Rye';
    text-align: center;
    color: #aaa;
    background: #5a5858;
    z-index: 0;
    border-radius: 4px 4px 4px 0px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset, 0 6px 10px rgba(0,0,0,.15);
}

*{
  margin:0;
  padding:0;
  position: absolute;
}

.book {
    width: 64px;
    height: 80px;
    top: 64%;
    left: 88%;
    background: #636365;
    border-radius: 16px 3px 3px 15px;
    margin: 0;
    padding: 0;
}
.bookTop {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 7px;
    width: 54px;
    bottom: 68px;
    right: 3px;
    background: white;
    border-radius: 13px 4px 4px 32px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.bookSide {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 5px;
    width: 75px;
    bottom: 35px;
    right: -32px;
    background: white;
    border-radius: 0px 0px 0px 0px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    z-index: 2;
    transform: rotate(-270deg);
}
.bookSpine {
        box-sizing: inherit;
    content: "";
    position: absolute;
    height: 12px;
    width: 76px;
    bottom: 33px;
    right: 19px;
    background: #434345;
    border-radius: 84px 85px 51px 34px;
    margin: 0;
    padding: 0;
    z-index: 0;
    transform: rotate(270deg);
}
.bookSpineBinder {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 6px;
    width: 12px;
    bottom: 48px;
    right: 52px;
    background: white;
    border-radius: 29px 14px 30px 31px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    z-index: 2;
    transform: rotate(-180deg);
}

.bookSpineBinder1 {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 6px;
    width: 12px;
    bottom: 23px;
    right: 52px;
    background: white;
    border-radius: 29px 14px 30px 31px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    z-index: 2;
    transform: rotate(-180deg);
}

.book1 {
    width: 64px;
    height: 80px;
    top: 64%;
    left: 146%;
    background: #636365;
    border-radius: 16px 3px 3px 15px;
    margin: 0;
    padding: 0;
}
.bookTop1 {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 7px;
    width: 54px;
    bottom: 68px;
    right: 3px;
    background: white;
    border-radius: 13px 4px 4px 32px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.bookSide1 {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 5px;
    width: 75px;
    bottom: 35px;
    right: -32px;
    background: white;
    border-radius: 0px 0px 0px 0px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    z-index: 2;
    transform: rotate(-270deg);
}
.bookSpine1 {
        box-sizing: inherit;
    content: "";
    position: absolute;
    height: 12px;
    width: 76px;
    bottom: 33px;
    right: 19px;
    background: #434345;
    border-radius: 84px 85px 51px 34px;
    margin: 0;
    padding: 0;
    z-index: 0;
    transform: rotate(270deg);
}
.bookSpineBinder2 {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 6px;
    width: 12px;
    bottom: 48px;
    right: 52px;
    background: white;
    border-radius: 29px 14px 30px 31px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    z-index: 2;
    transform: rotate(-180deg);
}

.bookSpineBinder3 {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 6px;
    width: 12px;
    bottom: 23px;
    right: 52px;
    background: white;
    border-radius: 29px 14px 30px 31px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    z-index: 2;
    transform: rotate(-180deg);
}